<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--<setting name="cacheEnabled" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="3000" />-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="kr.co.nexmore.rfiddaemon.vo.common.EventHistoryVO" alias="EventHistoryVO"/>
        <typeAlias type="kr.co.nexmore.rfiddaemon.vo.reader.ReaderVO" alias="ReaderVO"/>
        <typeAlias alias="EventHistoryVO" type="kr.co.nexmore.rfiddaemon.vo.common.EventHistoryVO"/>
        <typeAlias alias="ReaderVO" type="kr.co.nexmore.rfiddaemon.vo.reader.ReaderVO"/>
        <typeAlias alias="OneooneVO" type="kr.co.nexmore.rfiddaemon.vo.mes.OneooneVO"/>
        <typeAlias alias="TagWriteVO" type="kr.co.nexmore.rfiddaemon.vo.common.TagWriteVO"/>
    </typeAliases>
</configuration>